USE [master]
GO
/****** Object:  Database [Deposito_Materiais]    Script Date: 24/06/2025 15:27:24 ******/
CREATE DATABASE [Deposito_Materiais]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Deposito_Materiais', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Deposito_Materiais.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Deposito_Materiais_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Deposito_Materiais_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Deposito_Materiais].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Deposito_Materiais]
GO
/****** Object:  Table [dbo].[caixa]    Script Date: 24/06/2025 15:27:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[caixa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_pedido] [int] NOT NULL,
	[nome_vendedor] [varchar](100) NOT NULL,
	[valor_total] [decimal](10, 2) NOT NULL,
	[forma_pagamento] [varchar](50) NOT NULL,
	[data_pagamento] [datetime] NOT NULL,
	[status_pagamento] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[itens_pedido]    Script Date: 24/06/2025 15:27:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[itens_pedido](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idpedido] [int] NOT NULL,
	[idproduto] [int] NOT NULL,
	[descricao_produto] [varchar](255) NOT NULL,
	[quantidade] [int] NOT NULL,
	[precovenda] [decimal](10, 2) NOT NULL,
	[total_item]  AS ([quantidade]*[precovenda]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedidos]    Script Date: 24/06/2025 15:27:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedidos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idcliente] [int] NOT NULL,
	[valor_total] [decimal](10, 2) NOT NULL,
	[data_pedido] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produtos]    Script Date: 24/06/2025 15:27:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produtos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NULL,
	[quantidade] [int] NULL,
	[precovenda] [decimal](10, 2) NULL,
	[precocompra] [decimal](10, 2) NULL,
	[categoria] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_clientes]    Script Date: 24/06/2025 15:27:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[data_nascimento] [date] NOT NULL,
	[cpf] [varchar](14) NOT NULL,
	[cep] [varchar](9) NOT NULL,
	[endereco] [varchar](100) NOT NULL,
	[numero] [varchar](10) NOT NULL,
	[bairro] [varchar](50) NOT NULL,
	[cidade] [varchar](50) NOT NULL,
	[uf] [char](2) NOT NULL,
	[telefone] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 24/06/2025 15:27:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[perfil] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[cpf] [varchar](14) NOT NULL,
	[senha] [varchar](100) NOT NULL,
	[foto] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[caixa] ADD  DEFAULT (getdate()) FOR [data_pagamento]
GO
ALTER TABLE [dbo].[caixa] ADD  DEFAULT ('Pendente') FOR [status_pagamento]
GO
ALTER TABLE [dbo].[pedidos] ADD  DEFAULT ((0)) FOR [valor_total]
GO
ALTER TABLE [dbo].[pedidos] ADD  DEFAULT (getdate()) FOR [data_pedido]
GO
ALTER TABLE [dbo].[caixa]  WITH CHECK ADD FOREIGN KEY([id_pedido])
REFERENCES [dbo].[pedidos] ([id])
GO
ALTER TABLE [dbo].[itens_pedido]  WITH CHECK ADD FOREIGN KEY([idpedido])
REFERENCES [dbo].[pedidos] ([id])
GO
ALTER TABLE [dbo].[itens_pedido]  WITH CHECK ADD FOREIGN KEY([idproduto])
REFERENCES [dbo].[produtos] ([id])
GO
ALTER TABLE [dbo].[pedidos]  WITH CHECK ADD FOREIGN KEY([idcliente])
REFERENCES [dbo].[tb_clientes] ([id])
GO
USE [master]
GO
